<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <style>
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <canvas id="c"></canvas>
    <script src="~/Scripts/indexScript.js"></script>
</body>
</html>